@using DakiHunt.Models.ViewModels
@inherits DakiHunt.Client.Components.AuthPageBase
@page "/auth"

<form>
    <div class="form-group">
        <label for="UserName">UserName</label>
        <input bind="@SignInViewModel.Username" id="UserName" class="form-control" />
        <ValidationError Errors="@Errors" FieldName="UserName" />
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input bind="@SignInViewModel.Password" id="Password" type="password" class="form-control" />
        <ValidationError Errors="@Errors" FieldName="Password" />
    </div>
</form>
<div class="form-group">
    <button onclick="@(async () => await SignIn())" class="btn btn-default">Log in</button>
    <a href="/account/forgotPassword">Forgot your password?</a>
</div>


